<!-- Error message will appear above form informing the user what is needed -->
<% if @toy.errors.full_messages.present? %>
	<ul>
		<% @toy.errors.full_messages.each do |error| %>
			<li>
				<%= error %>
			</li>
		<% end %>	
	</ul>
<% end %>


<%= form_for(@toy) do |f| %>

	<%= f.label(:name) %><br>
	<%= f.text_field(:name) %><br>
	<%= f.label(:manufacturer) %><br>
	<%= f.text_field(:manufacturer) %><br>
	<%= f.label(:serial_number) %><br>
	<%= f.text_field(:serial_number) %><br>
	<%= f.label(:image_url) %><br>
	<%= f.text_field(:image_url) %><br>

	<%= f.submit %>

<% end %>