<div class="container">
  <%= link_to 'New Post', new_blog_post_path, class: "new-bp" %>
  <h1>Blog Posts</h1>

  <% @blog_posts.each do |blog_post| %>
    <div>
      <div class="bp-title"><%= blog_post.title %></div>
      <div class="bp-date"><%= blog_post.created_at.strftime('%B %e %Y') %></div>
      <div><%= truncate blog_post.body, length: 400 %><strong><%= link_to 'Read More', blog_post %></strong></div>
      <%= link_to 'Edit', edit_blog_post_path(blog_post) %>
      <%= link_to 'Delete', blog_post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <br>
  <% end %>

</div>
