<h1>Users List</h1>

<table class="table-center">
	<thead>
		<tr>
			<th>User</th>
			<th>Password</th>
			<th>Age</th>
			<th>Gender</th>
			<th>View Details</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do | user | %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><%= user.age %></td>
			<td><%= user.gender %></td>
			<td><%= link_to "View Details", user_path(user.id) %></td>
		</tr>
		<% end %>
	</tbody>

</table>
<% if(current_user.admin) %>
	<%= link_to "Add User", new_user_path %>
<% end %>
