<!-- <form action="/users" method="POST">

	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<h2>Create User</h2>

	<label for="user">Username</label><br>
	<input type="text" name="user" id="user"><br>

	<label for="password">Password</label><br>
	<input type="password" name="pass" id="password"><br>

	<label for="confirm_pass">Confirm Password</label><br>
	<input type="password" name="confirmpass" id="confirm_pass"><br> 

	<input type="submit" name="submit-user" value="Create User" class="btn-create-object">
</form> -->


<head>
	
</head>
<body>
	<div class="container">
		<div class="one-half new-book-container">
			<h2>New Book</h2>

			<%= form_for(@book) do |f| %>

				<%= f.label(:title) %><br>
				<%= f.text_field(:title) %> <br>
				<%= f.label(:author) %> <br>
				<%= f.text_field(:author) %> <br>
				<%= f.label(:published_year) %> <br>
				<%= f.text_field(:published_year, {placeholder: "placeholder"}) %> <br>
				<%= f.label(:image_url) %> <br>
				<%= f.text_field(:image_url) %> <br>

				<%= f.submit("Create Book", {class: "btn-create-object"}) %>

			<% end %>

		</div>

		<br clear="both">
		<br clear="both">

	</div>
</body>