<!-- Error message will appear above form informing the user what is needed -->
<% if @book.errors.full_messages.present? %>
	<ul>
		<% @book.errors.full_messages.each do |error| %>
			<li>
				<%= error %>
			</li>
		<% end %>
	</ul>
<% end %>



<%= form_for(@book) do |f| %>

	<%= f.label(:title) %><br>
	<%= f.text_field(:title) %> <br>
	<%= f.label(:author) %> <br>
	<%= f.text_field(:author) %> <br>
	<%= f.label(:published_year) %> <br>
	<%= f.text_field(:published_year) %> <br>
	<%= f.label(:image_url) %> <br>
	<%= f.text_field(:image_url) %> <br>

	<%= f.submit %>

<% end %>