<!DOCTYPE HTML>
<head>

    <!-- <script>
        $(function () {
            $(".prod_nav ul").tabs(".panes > div", {
                effect: 'fade',
                fadeOutSpeed: 400
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".pane-list li").click(function () {
                window.location = $(this).find("a").attr("href");
                return false;
            });
        });
      </script> -->
    </head>
    <body>

      <div class="container">
        <!-- tab panes -->
        <!--<div id="prod_wrapper">-->
          <div class="panes">
            <div> <%= @book.image_url.present? ? image_tag(@book.image_url) : image_tag("no_image_found.jpg")%> 
              <h2><%= @book.title %></h2>
              <h5>Author: <%= @book.author %></h5>
              <h3><%= @book.price.present? ? ("$" + @book.price) : ("N/A") %></h3> 
              <p> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin neque erat, posuere in elementum et, commodo et neque.
                Nullam tristique nec neque vitae porttitor. In ligula enim, tincidunt eu laoreet at, aliquam sed erat. Morbi iaculis interdum
                libero ut convallis. Nulla bibendum varius mollis. Vivamus imperdiet, elit id maximus malesuada, libero nisl mollis arcu,
                non molestie sem mauris et metus. Pellentesque orci velit, tincidunt et diam id, vulputate rutrum ante. In luctus viverra nibh,
                non semper nisi vulputate sed. Sed ut dui convallis, maximus nibh rutrum, tincidunt arcu.
              </p>
              <button class="btn btn-dark add-cart-btn"><a href="cart.html" class="text-white">Add to Cart</a></button>
            </div>
          </div>

          <!-- END tab panes -->
          <br clear="all">
          <div class="border-top"></div>
          <!-- navigator -->

          <!-- This will be dynamic eventually but static for now -->

          <h2 class="related-title">Related Books:</h2>
          <div class="prod_nav">
            <ul>
              <% @randomNumArray.each do | i | %>
              <% book = Book.find(i) %>
              <% route = "/books/#{i}" %>
              <li>
                <a href = <%= route %> > 
                  <div class="book-cover-container">
                    <%= book.image_url.present? ? image_tag(book.image_url, height: '238', width: '160') : image_tag("no_image_found.jpg", height: '238', width: '160') %> 
                    <%#= link_to "View Details", "/books/#{book.id}", class: "view-details" %>
                    </div>
                    <strong> <%= book.title %> </strong>
                  
                </a>
              </li>
              <% end %>
            </ul>
          </div>
          <!-- close navigator -->
          <br clear="both">
          <!--</div>-->
        </div>
      </body>
      </html>