<div class="container">
  <!-- tab panes -->
  <!--<div id="prod_wrapper">-->
    <%= link_to "Back to Books", "/books", class: "back-to-all-prod" %> <br>
    <div class="panes">
      <div> <%= @book.image_url.present? ? image_tag(@book.image_url) : image_tag("no_image_found.jpg")%> 
        <h2><%= @book.title %></h2>
        <% if(@book.user.present?) %>
          <h5>Author: <%= @book.user.name %></h5>
        <%end%>
        <h3><%= @book.price.present? ? ("$" + @book.price) : ("N/A") %></h3> 
        <p> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin neque erat, posuere in elementum et, commodo et neque.
          Nullam tristique nec neque vitae porttitor. In ligula enim, tincidunt eu laoreet at, aliquam sed erat. Morbi iaculis interdum
          libero ut convallis. Nulla bibendum varius mollis. Vivamus imperdiet, elit id maximus malesuada, libero nisl mollis arcu,
          non molestie sem mauris et metus. Pellentesque orci velit, tincidunt et diam id, vulputate rutrum ante. In luctus viverra nibh,
          non semper nisi vulputate sed. Sed ut dui convallis, maximus nibh rutrum, tincidunt arcu.
        </p>
        
        <% if user_signed_in? %>
          <% if current_user.name == @book.author || current_user.admin %>
            <%= link_to "Edit", "/books/#{@book.id}/edit" %> <br>
          <% end %>
          <% if current_user.admin %>
            <%= link_to "Delete", "/books/#{@book.id}", {method: :delete, data: {confirm: "Are you sure you want to delete #{@book.title}?"}} %> <br>
          <% end %>
        <% end %>
        

      </div>
    </div>

    <!-- END tab panes -->
    <br clear="all">
    <div class="border-top"></div>
    <!-- navigator -->


    <%= link_to "Reviews", book_reviews_path(@book) %>


    <!-- This will be dynamic eventually but static for now -->


    <!-- close navigator -->
    <br clear="both">
    <!--</div>-->
  </div>
