<% if @review.errors.full_messages.present? %>
	<ul>
		<% @review.errors.full_messages.each do |error| %>
			<li>
				<%= error %>
			</li>
		<% end %>
	</ul>
<% end %>



<%= form_for([@book, @review]) do |f| %>

	<%= f.label(:author) %><br>
	<%= f.collection_select(:author, User.all, :name, :name, :prompt => true) %> <br>
	<%= f.label(:star_rating) %> <br>
	<%= f.text_field(:star_rating) %> <br>
	<%= f.label(:comment) %> <br>
	<%= f.text_field(:comment) %> <br>

	<%= f.submit %>

<% end %>