<h1><%= "Reviews for #{@book.title}" %></h1>

<% if @reviews.present? %>
	<% @reviews.each do |review| %>
		<div class="review">
			<%= review.star_rating %>
			<%= review.author %>
			<%= review.comment %>
		</div>
	<% end %>

<% else %>
	There are currently no reviews for this book
<% end %>


<%= link_to "Add a review", new_book_review_path(@book) %>